nav {
    display: flex;
    
    margin-top: -150px;
    height: 110px;
    background: rgba(228, 202, 3, 0.945);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: rgb(185, 185, 4);
    box-shadow: yellow;
    box outline: border;
    z-index: 1000;

}
.login {
    border: 2px solid black;
    border-radius: 20px;
    height: 50px;
    width: 150px;
    text-align: center;
    margin-top: 10px;
}
.login ul li a{
    justify-content: space-around;

    margin-left: 20px
}
.login:hover{
    background-color: rgb(135, 136, 125);
    color: rgb(35, 155, 248);
    transition: 0.8s;
}

.login ul li {
    text-align: center;
    padding: 0px;
    float: 200px;
    margin-top: -10px;
    margin-bottom: -20px;
}

#gap{
    display: flex;
}

nav .logo img {
    width: 100px;
    cursor: pointer;
    margin: 7px 0;
    height: 110px;


}

nav ul {
    list-style: none;
    display: inline;
}

 nav ul li {
    display: inline-block;
    display: inline;
    display: flex;
    margin: 0 20px;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
}

 nav ul li a::after {
    content: '';
    width: 0px;
    height: 2px;
    background: #e20404;
    display: block;
    text-align: justify;
    transition: 0.2s linear;
    
}

 nav ul li a:hover:after {
    width: 100%;
}

nav ul li a:hover {
    color: #c20808;
}
h1{
    margin-top: 150px;
    margin-left: 500px;
    font-size: 100px;
    color: rgb(231, 34, 4);
    text-shadow: 2px 4px black;
    font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.container-1{
    display: flex;
    justify-content: space-around;
    margin-left: 700px;
    margin-top: -500px;
    font-size: 20px;
}
input{
    width: 300px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
}
::placeholder{
    color: rgb(60, 60, 61);
    font-size: 15px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}

#btn{
    width: 200px;
    height: 40px;
    color: black;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(184, 184, 1);
}
textarea{
    border: 2px solid rgb(10, 10, 10);
}
#pic-1 img{
    width: 200px;
    border: 2px solid black;
    padding: 30px;
    border-radius: 360px;

}
#pic-2 img{
    width: 200px;
    border: 2px solid black;
    padding: 30px;
    border-radius: 360px;
}
#pic-3 img{
    width: 200px;
    border: 2px solid black;
    padding: 30px;
    border-radius: 360px;
}
.container-2{
    display: flex;
    margin-top: 200px;
    justify-content: space-around;
    
}
.footer{
    justify-content: space-around;
    display: flex;
    border: 2px solid whitesmoke;
    height: 250px;
    background-color: rgb(202, 199, 199);
    text-align: center;
    margin-left: -10px;
    margin-bottom: -0px;
    width: 1510px;
}
.footer h3{
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}


.location{
    text-align: center;
    font-size: 20px;
    
    
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
}
.location h3{
    font-size: 30px;
}
.location a{
    text-decoration: none;
    color: black;
}
.location ul li{
    list-style: none;
}
.link{
    text-align: center;
    font-size: 20px;

    padding left: 0px;
    
    list-style: none;
}
.link a{
    text-decoration: none;
    color: black;
}
.link h3{
    font-size: 30px;
}
.link  ul li{
    list-style: none;
}
.contact{
    text-align: center;
    font-size: 25px;

    padding left: 0px;

}
.contact h3{
    font-size: 30px;
    margin-left: 60px;
}
.contact ul li{
    list-style: none;
}
.service{
    text-align: center;
    font-size: 25px;
    list-style: none;
    padding left: 0px;
    
}
.service h3{
    font-size: 30px;
}
.service ul li{
    list-style: none;
}
.follows{
    text-align: center;
    font-size: 25px;
    padding left: 0px;
    
}
.follows ul{
    margin-top: -30px;
    list-style: none;
}


